 <div style="text-align: center; background-color: #fff; padding: 40px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

        <h1 style="font-size: 3rem; color: #bc0505; margin-bottom: 5px;">{{message}}</h1>
        <h2 style="font-size: 1.5rem; color: #000000; margin-bottom: 20px;">Error {{error.status}}</h2>
        <pre style="font-family: Consolas, monospace; font-size: 1rem; background-color: #f7f7f7; padding: 15px; border: 1px solid #ffffff; border-radius: 5px; overflow-x: auto;">{{error.stack}}</pre>

        <a href="/" style="padding: 10px 20px; background-color: #0ba85f; color: #fff; text-decoration: none; border-radius: 5px; font-size: 1.2rem; transition: background-color 0.3s ease;" class="home-button">Go back to Home</a>
    </div>